@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
}

body {
    background-color: black;
}

#landing-nav {
    display: flex;
    flex-direction: column;
    /* margin: 20vh 5vw; */
    background-color: black;
    padding: clamp(1rem, 5vw, 6rem);
}

#landing-nav a {
    color: rgba(255, 255, 255, 0.25);
    font-family: "Poppins", sans-serif;
    font-size: clamp(3rem, 8vw, 10rem);
    font-weight: 300;
    text-decoration: none;
    position: relative;
}

#landing-nav a:hover {
    color: white;
}

#landing-nav a span {
    display: block;
    margin-left: 2vw;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    position: relative;
    z-index: 2;
}

#landing-nav a:hover span {
    border-top-color: white;
    border-bottom-color: white;
}

#landing-nav a img {
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform 250ms, opacity 250ms;
    pointer-events: none;
    width: min(50vw, 800px);
}

#landing-nav a:hover img {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#page-container {
    height: 0px;
    
}