@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Portfolio Container */


/* Landing Page CSS */

#landing-nav {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: clamp(1rem, 5vw, 6rem);
}

#landing-nav a {
    color: rgba(255, 255, 255, 0.25);
    font-family: "Poppins", sans-serif;
    font-size: clamp(3rem, 8vw, 10rem);
    font-weight: 300;
    text-decoration: none;
    position: relative;
}

#landing-nav a:hover {
    color: white;
}

#landing-nav a span {
    display: block;
    margin-left: 2vw;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    position: relative;
    z-index: 2;
}

#landing-nav a:hover span {
    border-top-color: white;
    border-bottom-color: white;
}

#landing-nav a img {
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform 250ms, opacity 250ms;
    pointer-events: none;
    width: min(50vw, 800px);
}

#landing-nav a:hover img {
    opacity: 1;
    transform: translate(-50%, -50%) scale(.75);
}

#page-container {
    height: 0px;
}

/* MainNav.js CSS */

#main-nav {
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-nav img {
    border-radius: 50%;
    height: 100px;
}

#main-nav ul {
    display: flex;
}

#main-nav ul li {
    list-style-type: none;
}

#main-nav ul li a {
    position: relative;
    padding: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#main-nav ul li a:before {
    content: '';
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    height: 0.3rem;
    width: 0%;
    background: orangered;
    transition: all 0.4s ease;
}

#main-nav ul li a:hover:before {
    width: 100%;
}

/* projectcards.js CSS */

.project-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin: 20px;
    cursor: pointer;    
}
  
.project-card:hover {
    transform: translate(15px, -15px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease;
}

.project-card h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 20px;
    text-align: center;
}

.project-card p {
    font-size: 16px;
    margin: 0 20px;
    text-align: center;
    color: #666;
}

.project-card.expanded {
    position: fixed;
    top: 22.5%;
    left: 12.5%;
    z-index: 999;
    width: 70%;
    height: 60%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    overflow: auto;
    cursor: default;
    display: flex;
    flex-direction: row;
}

.gif-container {
    height: 80%;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.expanded-card-gif {
    height: 100%;
}

.btn-container {
    display: flex;
    flex-direction: row;
}

.view-btn {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 10px 10px 0px 10px;
    color: black;
    background-color: grey;
}

.view-btn:hover {
    color: white;
    cursor: pointer;
}

.tech-tags-container {
    display: flex;
    margin: 10px;
}

.tech-tags {
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 0px 5px;
}

.card-close-button {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 40px;
    rotate: 45deg;
    cursor: pointer;
}

/* Card Rendering CSS */

/* #card1 {
    transition-delay: 0.2s;
}

#card2 {
    transition-delay: 0.4s;
}

#card3 {
    transition-delay: 0.6s;
}

#card4 {
    transition-delay: 0.8s;
}

#card5 {
    transition-delay: 1s;
} */

/* Portfolio.js CSS */

.portfolio-page-container {
    opacity: 0.5;
}

#portfolio-page-header {
    display: flex;
    justify-content: center;
    margin: 150px 0px 50px 0;
}

.home-container {
    
}